

<div class="row">
<div class="col">

  {{#with meta}}
    {{#if title}}
      <p class="lead">{{title}}</p>
    {{/if}}
  {{/with}}

  <div class="row">
  <div class="col p-3">

    {{#each data}}

      <div class="row">

    <div class="col-2 p-3">
      {{#if image}}
      <img src="{{image}}">
      {{/if}}
    </div>

      <div class="col p-3">
        <div class="message">
          <p class="">{{title}}</p>
          <!-- <p class="small p-3">{{{message}}}</p> -->
        </div>
      </div>
      </div>

    {{/each}}

  </div>
  </div>

</div>
</div>
